USE [exe21]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[activity_logs]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activity_logs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[activity_type] [varchar](100) NOT NULL,
	[description] [text] NOT NULL,
	[ip_address] [varchar](45) NULL,
	[user_agent] [text] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__activity__3213E83FD614E658] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bank_accounts]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bank_accounts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[bank_id] [int] NOT NULL,
	[account_name] [varchar](200) NOT NULL,
	[account_number] [varchar](50) NOT NULL,
	[branch] [varchar](200) NULL,
	[is_primary] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__bank_acc__3213E83F5CC0B5DA] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[banks]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[banks](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[code] [varchar](20) NOT NULL,
	[logo_filename] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__banks__3213E83F728AFE73] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_categories]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[slug] [varchar](100) NOT NULL,
	[description] [text] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__blog_cat__3213E83FB9703857] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_post_categories]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_post_categories](
	[blog_post_id] [int] NOT NULL,
	[blog_category_id] [int] NOT NULL,
 CONSTRAINT [PK__blog_pos__C9D2F74A0ED78BD8] PRIMARY KEY CLUSTERED 
(
	[blog_post_id] ASC,
	[blog_category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[blog_posts]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[blog_posts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[title] [varchar](255) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[excerpt] [text] NULL,
	[content] [text] NOT NULL,
	[featured_image] [varchar](255) NULL,
	[author_id] [int] NOT NULL,
	[is_published] [bit] NOT NULL,
	[published_at] [datetime] NULL,
	[meta_title] [varchar](255) NULL,
	[meta_description] [text] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__blog_pos__3213E83F89038E53] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cart_items]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cart_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cart_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[unit_price] [decimal](16, 2) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cart_ite__3213E83F0294E126] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[carts]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[carts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[session_id] [varchar](100) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__carts__3213E83F959D5878] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categories]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categories](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [text] NULL,
	[image_filename] [nvarchar](100) NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__categori__3213E83F167E741E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[coupons]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[coupons](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[description] [text] NULL,
	[discount_type] [varchar](20) NOT NULL,
	[discount_value] [decimal](16, 2) NOT NULL,
	[min_purchase] [decimal](16, 2) NULL,
	[max_discount] [decimal](16, 2) NULL,
	[starts_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
	[usage_limit] [int] NULL,
	[used_count] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__coupons__3213E83FE50262EF] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cultural_events]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cultural_events](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[description] [text] NOT NULL,
	[province_id] [int] NULL,
	[start_date] [date] NULL,
	[end_date] [date] NULL,
	[image_filename] [varchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__cultural__3213E83F16137903] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[districts]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[districts](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[province_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__district__3213E83F13B274AD] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[faqs]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[faqs](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[question] [varchar](255) NOT NULL,
	[answer] [text] NOT NULL,
	[category] [varchar](100) NULL,
	[display_order] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__faqs__3213E83F9FE3AD34] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_events]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_events](
	[food_id] [int] NOT NULL,
	[event_id] [int] NOT NULL,
	[description] [text] NULL,
 CONSTRAINT [PK__food_eve__4D7B42AAB31326E4] PRIMARY KEY CLUSTERED 
(
	[food_id] ASC,
	[event_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_images]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_images](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[filename] [varchar](255) NOT NULL,
	[is_primary] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__food_ima__3213E83FC4C3D115] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[food_producers]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[food_producers](
	[food_id] [int] NOT NULL,
	[producer_id] [int] NOT NULL,
	[is_primary] [bit] NOT NULL,
 CONSTRAINT [PK__food_pro__B1EBBED4BB2AE233] PRIMARY KEY CLUSTERED 
(
	[food_id] ASC,
	[producer_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[foods]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[foods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[slug] [varchar](150) NOT NULL,
	[description] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[region_id] [int] NOT NULL,
	[province_id] [int] NOT NULL,
	[price] [decimal](16, 2) NOT NULL,
	[sale_price] [decimal](16, 2) NULL,
	[stock_quantity] [int] NOT NULL,
	[unit] [nvarchar](100) NOT NULL,
	[weight] [decimal](10, 2) NULL,
	[shelf_life] [varchar](100) NULL,
	[storage_instructions] [text] NULL,
	[is_featured] [bit] NOT NULL,
	[is_special] [bit] NOT NULL,
	[is_vegetarian] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[ingredients] [text] NULL,
	[preparation_method] [text] NULL,
	[serving_suggestion] [text] NULL,
	[cultural_significance] [text] NULL,
	[allergens] [text] NULL,
	[certification] [text] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__foods__3213E83F4D0792E5] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gift_set_items]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gift_set_items](
	[gift_set_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[quantity] [int] NOT NULL,
 CONSTRAINT [PK__gift_set__346B450952D07B4D] PRIMARY KEY CLUSTERED 
(
	[gift_set_id] ASC,
	[food_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gift_sets]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gift_sets](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [text] NOT NULL,
	[price] [decimal](16, 2) NOT NULL,
	[sale_price] [decimal](16, 2) NULL,
	[image_filename] [varchar](255) NULL,
	[is_featured] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[occasion] [varchar](100) NULL,
	[packaging_type] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__gift_set__3213E83FF942961F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[message_replies]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[message_replies](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[reply] [text] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__message___3213E83F71A482A4] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](100) NOT NULL,
	[lastname] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[subject] [varchar](255) NOT NULL,
	[message] [text] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[is_resolved] [bit] NOT NULL,
	[assigned_to] [int] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__messages__3213E83F00FFF349] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_items]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[food_id] [int] NULL,
	[product_name] [nvarchar](100) NULL,
	[quantity] [int] NULL,
	[unit_price] [decimal](16, 2) NOT NULL,
	[subtotal] [decimal](16, 2) NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__order_it__3213E83F858D6C91] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[order_status_history]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[order_status_history](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_id] [int] NOT NULL,
	[status] [varchar](20) NOT NULL,
	[comment] [text] NULL,
	[changed_by] [int] NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__order_st__3213E83FEB3FC26E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[orders]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[orders](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[order_number] [varchar](255) NOT NULL,
	[user_id] [int] NULL,
	[session_id] [nchar](10) NULL,
	[guest_email] [nvarchar](50) NULL,
	[order_date] [datetime] NOT NULL,
	[subtotal] [decimal](16, 2) NULL,
	[tax] [decimal](16, 2) NULL,
	[shipping_fee] [decimal](16, 2) NULL,
	[discount] [decimal](16, 2) NULL,
	[coupon_id] [int] NULL,
	[gift_wrapping_fee] [decimal](16, 2) NULL,
	[total_amount] [decimal](16, 2) NOT NULL,
	[recipient_name] [varchar](200) NOT NULL,
	[recipient_phone] [varchar](20) NULL,
	[recipient_email] [varchar](150) NULL,
	[province_id] [int] NULL,
	[district_id] [int] NULL,
	[ward_id] [int] NULL,
	[delivery_address] [varchar](255) NULL,
	[delivery_notes] [text] NULL,
	[payment_method_id] [int] NULL,
	[bank_id] [bigint] NULL,
	[transaction_id] [varchar](100) NULL,
	[payment_status] [varchar](20) NULL,
	[order_status] [varchar](20) NULL,
	[shipping_provider] [varchar](100) NULL,
	[shipping_method] [varchar](100) NULL,
	[tracking_number] [varchar](100) NULL,
	[estimated_delivery] [datetime] NULL,
	[actual_delivery] [datetime] NULL,
	[notes] [text] NULL,
	[admin_notes] [text] NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__orders__3213E83F66FA6F3E] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[password_resets]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[password_resets](
	[email] [varchar](150) NOT NULL,
	[token] [varchar](255) NOT NULL,
	[created_at] [datetime] NOT NULL,
	[expires_at] [datetime] NOT NULL,
 CONSTRAINT [PK__password__AB6E6165E86D432F] PRIMARY KEY CLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[payment_methods]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[payment_methods](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[code] [varchar](50) NOT NULL,
	[description] [nvarchar](100) NULL,
	[instructions] [nvarchar](100) NULL,
	[is_active] [bit] NOT NULL,
	[display_order] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__payment___3213E83F7BFB1929] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[producers]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[producers](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](200) NOT NULL,
	[slug] [varchar](255) NOT NULL,
	[description] [text] NULL,
	[province_id] [int] NOT NULL,
	[address] [varchar](255) NULL,
	[phone] [varchar](20) NULL,
	[email] [varchar](150) NULL,
	[website] [varchar](255) NULL,
	[established_year] [int] NULL,
	[image_filename] [varchar](255) NULL,
	[featured] [bit] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__producer__3213E83FB2DC83A1] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provinces]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provinces](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[region_id] [int] NOT NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__province__3213E83F80D41B17] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[regions]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[regions](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [text] NULL,
	[image_filename] [nvarchar](255) NULL,
	[is_active] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__regions__3213E83FBA92FACE] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[reviews]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[reviews](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[food_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[rating] [tinyint] NOT NULL,
	[comment] [text] NULL,
	[is_verified_purchase] [bit] NOT NULL,
	[is_approved] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__reviews__3213E83F4C635CE3] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[settings]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[settings](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[setting_key] [varchar](100) NOT NULL,
	[setting_value] [text] NULL,
	[setting_group] [varchar](100) NOT NULL,
	[is_public] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__settings__3213E83F4B26399D] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_addresses]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_addresses](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[recipient_name] [varchar](200) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[province_id] [int] NOT NULL,
	[district_id] [int] NOT NULL,
	[ward_id] [int] NOT NULL,
	[address_detail] [varchar](255) NOT NULL,
	[is_default] [bit] NOT NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__shipping__3213E83F3D6C9CEC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[shipping_fees]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[shipping_fees](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[province_id] [int] NOT NULL,
	[fee] [decimal](16, 2) NOT NULL,
	[min_order_value] [decimal](16, 2) NULL,
	[free_shipping_min] [decimal](16, 2) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__shipping__3213E83F25692D7F] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[firstname] [varchar](100) NOT NULL,
	[lastname] [varchar](100) NOT NULL,
	[email] [varchar](150) NOT NULL,
	[phone] [varchar](20) NOT NULL,
	[address] [varchar](255) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[role] [varchar](10) NOT NULL,
	[is_active] [bit] NOT NULL,
	[profile_image] [varchar](255) NULL,
	[email_verified_at] [datetime] NULL,
	[verification_token] [varchar](100) NULL,
	[created_at] [datetime] NOT NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__users__3213E83F2694C156] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VnInfos]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VnInfos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderDescription] [nvarchar](max) NULL,
	[TransactionId] [nvarchar](max) NULL,
	[OrderId] [int] NULL,
	[PaymentMethod] [nvarchar](max) NULL,
	[PaymentId] [nvarchar](max) NULL,
	[VnPayResponseCode] [nvarchar](max) NULL,
	[DateCreated] [datetime] NULL,
 CONSTRAINT [PK_VnInfos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[vnpay_payments]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vnpay_payments](
	[transaction_id] [varchar](100) NOT NULL,
	[order_id] [int] NOT NULL,
	[order_description] [nvarchar](255) NULL,
	[payment_method] [varchar](50) NULL,
	[payment_id] [varchar](100) NULL,
	[vnpay_response_code] [varchar](20) NULL,
	[date_created] [datetime] NOT NULL,
	[id] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wards]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wards](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [varchar](100) NOT NULL,
	[district_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__wards__3213E83F40B5ACA6] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[wishlists]    Script Date: 5/27/2025 6:47:47 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[wishlists](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NOT NULL,
	[food_id] [int] NOT NULL,
	[created_at] [datetime] NOT NULL,
 CONSTRAINT [PK__wishlist__3213E83F54D768DB] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250521180410_AddVnpayModel', N'9.0.5')
GO
SET IDENTITY_INSERT [dbo].[categories] ON 

INSERT [dbo].[categories] ([id], [name], [description], [image_filename], [display_order], [is_active], [created_at], [updated_at]) VALUES (1, N'Đồ khô', NULL, NULL, 1, 1, CAST(N'2025-05-22T01:26:28.550' AS DateTime), NULL)
INSERT [dbo].[categories] ([id], [name], [description], [image_filename], [display_order], [is_active], [created_at], [updated_at]) VALUES (2, N'Đồ chấm', NULL, NULL, 2, 1, CAST(N'2025-05-22T01:26:28.550' AS DateTime), NULL)
INSERT [dbo].[categories] ([id], [name], [description], [image_filename], [display_order], [is_active], [created_at], [updated_at]) VALUES (3, N'Đồ sức khỏe', NULL, NULL, 3, 1, CAST(N'2025-05-22T01:26:28.550' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[categories] OFF
GO
SET IDENTITY_INSERT [dbo].[districts] ON 

INSERT [dbo].[districts] ([id], [name], [province_id], [created_at]) VALUES (1, N'TP Lào Cai', 1, CAST(N'2025-05-22T01:06:38.340' AS DateTime))
INSERT [dbo].[districts] ([id], [name], [province_id], [created_at]) VALUES (2, N'TP Lào Cai', 1, CAST(N'2025-05-22T01:07:16.270' AS DateTime))
INSERT [dbo].[districts] ([id], [name], [province_id], [created_at]) VALUES (3, N'TP Lào Cai', 1, CAST(N'2025-05-22T01:15:19.970' AS DateTime))
SET IDENTITY_INSERT [dbo].[districts] OFF
GO
SET IDENTITY_INSERT [dbo].[food_images] ON 

INSERT [dbo].[food_images] ([id], [food_id], [filename], [is_primary], [display_order], [created_at]) VALUES (7, 14, N'b1.jpg', 1, 1, CAST(N'2025-05-22T01:28:55.580' AS DateTime))
INSERT [dbo].[food_images] ([id], [food_id], [filename], [is_primary], [display_order], [created_at]) VALUES (8, 15, N'b2.jpg', 1, 2, CAST(N'2025-05-22T01:28:55.580' AS DateTime))
INSERT [dbo].[food_images] ([id], [food_id], [filename], [is_primary], [display_order], [created_at]) VALUES (9, 16, N'b3.jpg', 1, 3, CAST(N'2025-05-22T01:28:55.580' AS DateTime))
SET IDENTITY_INSERT [dbo].[food_images] OFF
GO
SET IDENTITY_INSERT [dbo].[foods] ON 

SET IDENTITY_INSERT [dbo].[foods] OFF
GO
SET IDENTITY_INSERT [dbo].[order_items] ON 

INSERT [dbo].[order_items] ([id], [order_id], [food_id], [product_name], [quantity], [unit_price], [subtotal], [created_at]) VALUES (1, 6, 15, N'Khô m?c rim me', 1, CAST(70000.00 AS Decimal(16, 2)), CAST(70000.00 AS Decimal(16, 2)), CAST(N'2025-05-22T01:31:09.760' AS DateTime))
INSERT [dbo].[order_items] ([id], [order_id], [food_id], [product_name], [quantity], [unit_price], [subtotal], [created_at]) VALUES (2, 6, 14, N'Bánh chung', 1, CAST(50000.00 AS Decimal(16, 2)), CAST(50000.00 AS Decimal(16, 2)), CAST(N'2025-05-22T01:31:09.773' AS DateTime))
INSERT [dbo].[order_items] ([id], [order_id], [food_id], [product_name], [quantity], [unit_price], [subtotal], [created_at]) VALUES (3, 7, 16, N'Bún bò Hu?', 1, CAST(45000.00 AS Decimal(16, 2)), CAST(45000.00 AS Decimal(16, 2)), CAST(N'2025-05-23T23:38:56.733' AS DateTime))
SET IDENTITY_INSERT [dbo].[order_items] OFF
GO
SET IDENTITY_INSERT [dbo].[orders] ON 

SET IDENTITY_INSERT [dbo].[orders] OFF
GO
SET IDENTITY_INSERT [dbo].[payment_methods] ON 

INSERT [dbo].[payment_methods] ([id], [name], [code], [description], [instructions], [is_active], [display_order], [created_at], [updated_at]) VALUES (1, N'Thanh toán qua QR', N'card', N'Thanh toán bang mã QR', N'Hệ thống thanh toán an toàn nhanh chóng.', 1, 1, CAST(N'2025-05-22T01:06:38.340' AS DateTime), CAST(N'2025-05-22T01:06:38.340' AS DateTime))
INSERT [dbo].[payment_methods] ([id], [name], [code], [description], [instructions], [is_active], [display_order], [created_at], [updated_at]) VALUES (2, N'Thanh toán trực tiếp', N'cash', N'Thanh toán khi nhân hàng (COD)', N'Chuẩn bị đủ tiền thanh toán cho nhân viên giao hàng khi nhân hàng.', 1, 2, CAST(N'2025-05-22T01:06:38.340' AS DateTime), CAST(N'2025-05-22T01:06:38.340' AS DateTime))
SET IDENTITY_INSERT [dbo].[payment_methods] OFF
GO
SET IDENTITY_INSERT [dbo].[provinces] ON 

INSERT [dbo].[provinces] ([id], [name], [region_id], [is_active], [created_at], [updated_at]) VALUES (1, N'Lào Cai', 1, 1, CAST(N'2025-05-22T01:06:38.327' AS DateTime), NULL)
INSERT [dbo].[provinces] ([id], [name], [region_id], [is_active], [created_at], [updated_at]) VALUES (4, N'Ðiện Biên', 1, 1, CAST(N'2025-05-24T00:45:15.557' AS DateTime), NULL)
INSERT [dbo].[provinces] ([id], [name], [region_id], [is_active], [created_at], [updated_at]) VALUES (5, N'Lai Châu', 1, 1, CAST(N'2025-05-24T00:45:15.557' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[provinces] OFF
GO
SET IDENTITY_INSERT [dbo].[regions] ON 

INSERT [dbo].[regions] ([id], [name], [description], [image_filename], [is_active], [created_at], [updated_at]) VALUES (1, N'Miền Băc', N'Tây Bac', N'tay-bac.jpg', 1, CAST(N'2025-05-22T01:06:38.323' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[regions] OFF
GO
SET IDENTITY_INSERT [dbo].[shipping_fees] ON 

INSERT [dbo].[shipping_fees] ([id], [province_id], [fee], [min_order_value], [free_shipping_min], [created_at], [updated_at]) VALUES (3, 1, CAST(10000.00 AS Decimal(16, 2)), CAST(100000.00 AS Decimal(16, 2)), CAST(500000.00 AS Decimal(16, 2)), CAST(N'2025-05-24T00:45:48.960' AS DateTime), NULL)
INSERT [dbo].[shipping_fees] ([id], [province_id], [fee], [min_order_value], [free_shipping_min], [created_at], [updated_at]) VALUES (4, 4, CAST(10000.00 AS Decimal(16, 2)), CAST(100000.00 AS Decimal(16, 2)), NULL, CAST(N'2025-05-24T00:45:48.960' AS DateTime), CAST(N'2025-05-24T00:45:48.960' AS DateTime))
INSERT [dbo].[shipping_fees] ([id], [province_id], [fee], [min_order_value], [free_shipping_min], [created_at], [updated_at]) VALUES (5, 5, CAST(10000.00 AS Decimal(16, 2)), CAST(100000.00 AS Decimal(16, 2)), NULL, CAST(N'2025-05-24T00:45:48.960' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[shipping_fees] OFF
GO
SET IDENTITY_INSERT [dbo].[users] ON 

INSERT [dbo].[users] ([id], [firstname], [lastname], [email], [phone], [address], [password], [role], [is_active], [profile_image], [email_verified_at], [verification_token], [created_at], [updated_at]) VALUES (1, N'Admin', N'User', N'admin@example.com', N'0123456789', N'123 Admin Street', N'25112003z', N'admin', 1, NULL, CAST(N'2025-05-27T01:30:24.233' AS DateTime), NULL, CAST(N'2025-05-27T01:30:24.233' AS DateTime), CAST(N'2025-05-27T01:30:24.233' AS DateTime))
SET IDENTITY_INSERT [dbo].[users] OFF
GO
SET IDENTITY_INSERT [dbo].[vnpay_payments] ON 

INSERT [dbo].[vnpay_payments] ([transaction_id], [order_id], [order_description], [payment_method], [payment_id], [vnpay_response_code], [date_created], [id]) VALUES (N'14976142', 9, N'Duy Tran Thanhtoan9 230000', N'VnPay', N'14976142', N'00', CAST(N'2025-05-24T00:34:27.453' AS DateTime), 1)
INSERT [dbo].[vnpay_payments] ([transaction_id], [order_id], [order_description], [payment_method], [payment_id], [vnpay_response_code], [date_created], [id]) VALUES (N'f2c7a952750f47a48f35a2b7beeffd8c', 31, N'PayOS#1748157392368', N'PayOS', N'f2c7a952750f47a48f35a2b7beeffd8c', N'00', CAST(N'2025-05-25T14:16:57.530' AS DateTime), 2)
INSERT [dbo].[vnpay_payments] ([transaction_id], [order_id], [order_description], [payment_method], [payment_id], [vnpay_response_code], [date_created], [id]) VALUES (N'f2a2a87498e849e4b669df4ba43b59b3', 32, N'PayOS#1748182496466', N'PayOS', N'f2a2a87498e849e4b669df4ba43b59b3', N'00', CAST(N'2025-05-25T21:15:42.187' AS DateTime), 3)
SET IDENTITY_INSERT [dbo].[vnpay_payments] OFF
GO
SET IDENTITY_INSERT [dbo].[wards] ON 

INSERT [dbo].[wards] ([id], [name], [district_id], [created_at]) VALUES (1, N'Phu?ng Kim Tân', 1, CAST(N'2025-05-22T01:06:38.343' AS DateTime))
INSERT [dbo].[wards] ([id], [name], [district_id], [created_at]) VALUES (2, N'Phu?ng Kim Tân', 1, CAST(N'2025-05-22T01:07:18.880' AS DateTime))
INSERT [dbo].[wards] ([id], [name], [district_id], [created_at]) VALUES (3, N'Phu?ng Kim Tân', 1, CAST(N'2025-05-22T01:15:17.373' AS DateTime))
SET IDENTITY_INSERT [dbo].[wards] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [FK_vnpay_order_transaction]    Script Date: 5/27/2025 6:47:48 AM ******/
ALTER TABLE [dbo].[vnpay_payments] ADD  CONSTRAINT [FK_vnpay_order_transaction] UNIQUE NONCLUSTERED 
(
	[order_id] ASC,
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__vnpay_pa__85C600AE3D95F5C2]    Script Date: 5/27/2025 6:47:48 AM ******/
ALTER TABLE [dbo].[vnpay_payments] ADD UNIQUE NONCLUSTERED 
(
	[transaction_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[activity_logs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[bank_accounts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[banks] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_categories] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[blog_posts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[cart_items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[carts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__is_ac__52593CB8]  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[categories] ADD  CONSTRAINT [DF__categorie__creat__534D60F1]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[coupons] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[cultural_events] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[cultural_events] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[districts] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[faqs] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[faqs] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[food_images] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[foods] ADD  CONSTRAINT [DF__foods__is_active__18EBB532]  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[foods] ADD  CONSTRAINT [DF__foods__created_a__19DFD96B]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[gift_set_items] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[gift_sets] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[gift_sets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[message_replies] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT ('unread') FOR [status]
GO
ALTER TABLE [dbo].[messages] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_items] ADD  CONSTRAINT [DF__order_ite__creat__65370702]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[order_status_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__order_da__540C7B00]  DEFAULT (getdate()) FOR [order_date]
GO
ALTER TABLE [dbo].[orders] ADD  CONSTRAINT [DF__orders__created___55009F39]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[password_resets] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[payment_methods] ADD  CONSTRAINT [DF__payment_m__is_ac__6477ECF3]  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[payment_methods] ADD  CONSTRAINT [DF__payment_m__creat__656C112C]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[producers] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[producers] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[provinces] ADD  CONSTRAINT [DF__provinces__is_ac__7B5B524B]  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[provinces] ADD  CONSTRAINT [DF__provinces__creat__7C4F7684]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[regions] ADD  CONSTRAINT [DF__regions__is_acti__68487DD7]  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[regions] ADD  CONSTRAINT [DF__regions__created__693CA210]  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[reviews] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT ('general') FOR [setting_group]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_public]
GO
ALTER TABLE [dbo].[settings] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shipping_addresses] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[shipping_fees] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (CONVERT([bit],(1))) FOR [is_active]
GO
ALTER TABLE [dbo].[users] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[vnpay_payments] ADD  DEFAULT (getdate()) FOR [date_created]
GO
ALTER TABLE [dbo].[wards] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[wishlists] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[activity_logs]  WITH CHECK ADD  CONSTRAINT [FK__activity___user___7D0E9093] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[activity_logs] CHECK CONSTRAINT [FK__activity___user___7D0E9093]
GO
ALTER TABLE [dbo].[bank_accounts]  WITH CHECK ADD  CONSTRAINT [FK__bank_acco__bank___3B40CD36] FOREIGN KEY([bank_id])
REFERENCES [dbo].[banks] ([id])
GO
ALTER TABLE [dbo].[bank_accounts] CHECK CONSTRAINT [FK__bank_acco__bank___3B40CD36]
GO
ALTER TABLE [dbo].[blog_post_categories]  WITH CHECK ADD  CONSTRAINT [FK__blog_post__blog___6DCC4D03] FOREIGN KEY([blog_post_id])
REFERENCES [dbo].[blog_posts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[blog_post_categories] CHECK CONSTRAINT [FK__blog_post__blog___6DCC4D03]
GO
ALTER TABLE [dbo].[blog_post_categories]  WITH CHECK ADD  CONSTRAINT [FK__blog_post__blog___6EC0713C] FOREIGN KEY([blog_category_id])
REFERENCES [dbo].[blog_categories] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[blog_post_categories] CHECK CONSTRAINT [FK__blog_post__blog___6EC0713C]
GO
ALTER TABLE [dbo].[blog_posts]  WITH CHECK ADD  CONSTRAINT [FK__blog_post__autho__671F4F74] FOREIGN KEY([author_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[blog_posts] CHECK CONSTRAINT [FK__blog_post__autho__671F4F74]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK__cart_item__cart___00200768] FOREIGN KEY([cart_id])
REFERENCES [dbo].[carts] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK__cart_item__cart___00200768]
GO
ALTER TABLE [dbo].[cart_items]  WITH CHECK ADD  CONSTRAINT [FK__cart_item__food___01142BA1] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[cart_items] CHECK CONSTRAINT [FK__cart_item__food___01142BA1]
GO
ALTER TABLE [dbo].[carts]  WITH CHECK ADD  CONSTRAINT [FK__carts__user_id__7B5B524B] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[carts] CHECK CONSTRAINT [FK__carts__user_id__7B5B524B]
GO
ALTER TABLE [dbo].[cultural_events]  WITH CHECK ADD  CONSTRAINT [FK__cultural___provi__73BA3083] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[cultural_events] CHECK CONSTRAINT [FK__cultural___provi__73BA3083]
GO
ALTER TABLE [dbo].[districts]  WITH CHECK ADD  CONSTRAINT [FK__districts__provi__1BC821DD] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[districts] CHECK CONSTRAINT [FK__districts__provi__1BC821DD]
GO
ALTER TABLE [dbo].[food_events]  WITH CHECK ADD  CONSTRAINT [FK__food_even__event__778AC167] FOREIGN KEY([event_id])
REFERENCES [dbo].[cultural_events] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_events] CHECK CONSTRAINT [FK__food_even__event__778AC167]
GO
ALTER TABLE [dbo].[food_events]  WITH CHECK ADD  CONSTRAINT [FK__food_even__food___76969D2E] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_events] CHECK CONSTRAINT [FK__food_even__food___76969D2E]
GO
ALTER TABLE [dbo].[food_images]  WITH CHECK ADD  CONSTRAINT [FK__food_imag__food___5BE2A6F2] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_images] CHECK CONSTRAINT [FK__food_imag__food___5BE2A6F2]
GO
ALTER TABLE [dbo].[food_producers]  WITH CHECK ADD  CONSTRAINT [FK__food_prod__food___6E01572D] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_producers] CHECK CONSTRAINT [FK__food_prod__food___6E01572D]
GO
ALTER TABLE [dbo].[food_producers]  WITH CHECK ADD  CONSTRAINT [FK__food_prod__produ__6EF57B66] FOREIGN KEY([producer_id])
REFERENCES [dbo].[producers] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[food_producers] CHECK CONSTRAINT [FK__food_prod__produ__6EF57B66]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK__foods__category___5441852A] FOREIGN KEY([category_id])
REFERENCES [dbo].[categories] ([id])
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK__foods__category___5441852A]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK__foods__province___5629CD9C] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK__foods__province___5629CD9C]
GO
ALTER TABLE [dbo].[foods]  WITH CHECK ADD  CONSTRAINT [FK__foods__region_id__5535A963] FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[foods] CHECK CONSTRAINT [FK__foods__region_id__5535A963]
GO
ALTER TABLE [dbo].[gift_set_items]  WITH CHECK ADD  CONSTRAINT [FK__gift_set___food___114A936A] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[gift_set_items] CHECK CONSTRAINT [FK__gift_set___food___114A936A]
GO
ALTER TABLE [dbo].[gift_set_items]  WITH CHECK ADD  CONSTRAINT [FK__gift_set___gift___10566F31] FOREIGN KEY([gift_set_id])
REFERENCES [dbo].[gift_sets] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[gift_set_items] CHECK CONSTRAINT [FK__gift_set___gift___10566F31]
GO
ALTER TABLE [dbo].[message_replies]  WITH CHECK ADD  CONSTRAINT [FK__message_r__messa__607251E5] FOREIGN KEY([message_id])
REFERENCES [dbo].[messages] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[message_replies] CHECK CONSTRAINT [FK__message_r__messa__607251E5]
GO
ALTER TABLE [dbo].[message_replies]  WITH CHECK ADD  CONSTRAINT [FK__message_r__user___6166761E] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[message_replies] CHECK CONSTRAINT [FK__message_r__user___6166761E]
GO
ALTER TABLE [dbo].[messages]  WITH CHECK ADD  CONSTRAINT [FK__messages__assign__5CA1C101] FOREIGN KEY([assigned_to])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[messages] CHECK CONSTRAINT [FK__messages__assign__5CA1C101]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__food___51300E55] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK__order_ite__food___51300E55]
GO
ALTER TABLE [dbo].[order_items]  WITH CHECK ADD  CONSTRAINT [FK__order_ite__order__503BEA1C] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_items] CHECK CONSTRAINT [FK__order_ite__order__503BEA1C]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK__order_sta__chang__55F4C372] FOREIGN KEY([changed_by])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK__order_sta__chang__55F4C372]
GO
ALTER TABLE [dbo].[order_status_history]  WITH CHECK ADD  CONSTRAINT [FK__order_sta__order__55009F39] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[order_status_history] CHECK CONSTRAINT [FK__order_sta__order__55009F39]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__coupon_i__47A6A41B] FOREIGN KEY([coupon_id])
REFERENCES [dbo].[coupons] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__coupon_i__47A6A41B]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__district__4B7734FF] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__district__4B7734FF]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__payment___489AC854] FOREIGN KEY([payment_method_id])
REFERENCES [dbo].[payment_methods] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__payment___489AC854]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__province__4A8310C6] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__province__4A8310C6]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__user_id__46B27FE2] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__user_id__46B27FE2]
GO
ALTER TABLE [dbo].[orders]  WITH CHECK ADD  CONSTRAINT [FK__orders__ward_id__4C6B5938] FOREIGN KEY([ward_id])
REFERENCES [dbo].[wards] ([id])
GO
ALTER TABLE [dbo].[orders] CHECK CONSTRAINT [FK__orders__ward_id__4C6B5938]
GO
ALTER TABLE [dbo].[producers]  WITH CHECK ADD  CONSTRAINT [FK__producers__provi__6A30C649] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[producers] CHECK CONSTRAINT [FK__producers__provi__6A30C649]
GO
ALTER TABLE [dbo].[provinces]  WITH CHECK ADD  CONSTRAINT [FK__provinces__regio__45F365D3] FOREIGN KEY([region_id])
REFERENCES [dbo].[regions] ([id])
GO
ALTER TABLE [dbo].[provinces] CHECK CONSTRAINT [FK__provinces__regio__45F365D3]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK__reviews__food_id__628FA481] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK__reviews__food_id__628FA481]
GO
ALTER TABLE [dbo].[reviews]  WITH CHECK ADD  CONSTRAINT [FK__reviews__user_id__6383C8BA] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[reviews] CHECK CONSTRAINT [FK__reviews__user_id__6383C8BA]
GO
ALTER TABLE [dbo].[shipping_addresses]  WITH CHECK ADD  CONSTRAINT [FK__shipping___distr__2645B050] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[shipping_addresses] CHECK CONSTRAINT [FK__shipping___distr__2645B050]
GO
ALTER TABLE [dbo].[shipping_addresses]  WITH CHECK ADD  CONSTRAINT [FK__shipping___provi__25518C17] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[shipping_addresses] CHECK CONSTRAINT [FK__shipping___provi__25518C17]
GO
ALTER TABLE [dbo].[shipping_addresses]  WITH CHECK ADD  CONSTRAINT [FK__shipping___user___245D67DE] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[shipping_addresses] CHECK CONSTRAINT [FK__shipping___user___245D67DE]
GO
ALTER TABLE [dbo].[shipping_addresses]  WITH CHECK ADD  CONSTRAINT [FK__shipping___ward___2739D489] FOREIGN KEY([ward_id])
REFERENCES [dbo].[wards] ([id])
GO
ALTER TABLE [dbo].[shipping_addresses] CHECK CONSTRAINT [FK__shipping___ward___2739D489]
GO
ALTER TABLE [dbo].[shipping_fees]  WITH CHECK ADD  CONSTRAINT [FK__shipping___provi__2B0A656D] FOREIGN KEY([province_id])
REFERENCES [dbo].[provinces] ([id])
GO
ALTER TABLE [dbo].[shipping_fees] CHECK CONSTRAINT [FK__shipping___provi__2B0A656D]
GO
ALTER TABLE [dbo].[vnpay_payments]  WITH CHECK ADD  CONSTRAINT [FK__vnpay_pay__order__7E02B4CC] FOREIGN KEY([order_id])
REFERENCES [dbo].[orders] ([id])
GO
ALTER TABLE [dbo].[vnpay_payments] CHECK CONSTRAINT [FK__vnpay_pay__order__7E02B4CC]
GO
ALTER TABLE [dbo].[wards]  WITH CHECK ADD  CONSTRAINT [FK__wards__district___1F98B2C1] FOREIGN KEY([district_id])
REFERENCES [dbo].[districts] ([id])
GO
ALTER TABLE [dbo].[wards] CHECK CONSTRAINT [FK__wards__district___1F98B2C1]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK__wishlists__food___06CD04F7] FOREIGN KEY([food_id])
REFERENCES [dbo].[foods] ([id])
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK__wishlists__food___06CD04F7]
GO
ALTER TABLE [dbo].[wishlists]  WITH CHECK ADD  CONSTRAINT [FK__wishlists__user___05D8E0BE] FOREIGN KEY([user_id])
REFERENCES [dbo].[users] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[wishlists] CHECK CONSTRAINT [FK__wishlists__user___05D8E0BE]
GO
