@page
@using NetQueStore.exe201.Pages
@model NetQueStore.exe201.Pages.Checkout.PaymentCallbackVnpayModel
@{
    ViewData["Title"] = "Kết quả thanh toán";
}
<h1>@ViewData["Title"]</h1>
<p>Đang xử lý kết quả thanh toán từ VnPay...</p>
